<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome Awesome commuter!</h1>
</div>
<div>
  You made it here! Now time to leave (Catch your train ;)
</div>
<div class="">
  <h2>Current station: <span *ngIf="currentStation">{{currentStation.StationDesc}}</span></h2>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="row" *ngFor="let station of stationList">
      <span (click)="setStationTo(station)">{{station.StationDesc}}</span>
    </div>
  </div>
  <div class="col-xs-8">
    <span *ngIf="!trainList"><i class="text-danger fa fa-ban"></i>No Train comming soon</span>
    <div class="row" *ngFor="let train of trainList">
      {{train.Origin}} -> {{train.Destination}} : <span *ngIf='train.Expdepart == "00:00"'>Stoping</span> <span *ngIf='train.Expdepart != "00:00"'>{{train.Expdepart}}</span>
    </div>
  </div>
</div>
